{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Calendário{% endblock %}

{% block content %}

<div id="calendar"></div>

{% endblock %}

{% block extra_javascript %}

	<script type="text/javascript">
		$(function() {

			// page is now ready, initialize the calendar...

			$('#calendar').fullCalendar({
				locale: 'br',
				firstDay: 1,
				themeSystem: 'bootstrap4',
				timeFormat: 'hh:mm',
				weekends: false,
				columnHeader: true,
				buttonText: {
					today:    'Hoje',
  					month:    'Mês',
  					week:     'Semana',
  					day:      'Dia',
  					list:     'Lista'
				},
				events: {
					url: '/api/get_calendario_full/',
					error: function() {
          				alert('erro');
        			}
				},
				eventClick: function(event) {
    				if (event.url) {
      					window.open(event.url, 'w_evento');
      					return false;
    				}
  				},
  				eventRender: function(event, element) {
  				},
			})

			var bola = $('#calendars').fullCalendar('weekends');

		});

	</script>


{% endblock %}