{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Calendário{% endblock %}

{% block content %}

<style type="text/css">

	.coluna {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: rgba(86,61,124,.15);
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna1 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #E0BBA9;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna2 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFE699;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna3 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #D2FFC4;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna4 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #C0F7FE;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna5 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFDFFF;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna6 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #CACAFF;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna7 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFAB60;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna8 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #D7ACAC;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna9 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #E6FCFF;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna10 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFFFC8;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}

</style>
<div class="row">
	<div class="col-xs-12 coluna"><img src="/media/brasao.png" class="img-responsive" style="height:50px;margin-right:20px;float:left"/><h2 style="margin-top:10px;">Diretoria de Apoio às Comissões</h2></div>
</div>
<br/>
<div id="grupo">
	<button class="btn btn-primary" data-toggle="collapse" data-target="#espaco-calendario" data-parent="#grupo">
	  Agenda
	</button>

	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#espaco-comunicados" data-parent="#grupo">
	  Comunicados Gerais
	</button>

	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#espaco-cronograma" data-parent="#grupo">
	  Cronograma das Comissões
	</button>
	<div class="accordion-group">

		<div class="collapse indent" id="espaco-comunicados">
			<h3 align="center">COMUNICADOS GERAIS</h3>
			<table id="tcomunicados" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
		</div>

		<div class="collapse indent" id="espaco-calendario">
			<br/>
			<div id="calendar" style="background-color:#f3f3f3;padding:30px;"></div>
		</div>

		<div class="collapse" id="espaco-cronograma">
			<h3 align="center">CRONOGRAMA REUNIÕES E COMPOSIÇÃO COMISSÕES PERMANENTES 2018</h3>
			<div class="row">
				<div class="col-sm-2 coluna">Dia / Comissão</div>
				<div class="col-sm-2 coluna1">CCJ</div>
				<div class="col-sm-2 coluna2">ECONOMIA</div>
				<div class="col-sm-2 coluna3">SERVIÇO PÚBLICO</div>
				<div class="col-sm-2 coluna4">URBANISMO</div>
				<div class="col-sm-2 coluna5">MEIO AMBIENTE</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">SEGUNDA</div>
				<div class="col-sm-2 coluna1">&nbsp;</div>
				<div class="col-sm-2 coluna2">&nbsp;</div>
				<div class="col-sm-2 coluna3">&nbsp;</div>
				<div class="col-sm-2 coluna4">&nbsp;</div>
				<div class="col-sm-2 coluna5">15h - Q</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">TERÇA</div>
				<div class="col-sm-2 coluna1">15h - S</div>
				<div class="col-sm-2 coluna2">8h - Q</div>
				<div class="col-sm-2 coluna3">&nbsp;</div>
				<div class="col-sm-2 coluna4">&nbsp;</div>
				<div class="col-sm-2 coluna5">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">QUARTA</div>
				<div class="col-sm-2 coluna1">&nbsp;</div>
				<div class="col-sm-2 coluna2">&nbsp;</div>
				<div class="col-sm-2 coluna3">8h30 - Q</div>
				<div class="col-sm-2 coluna4">14h30 - Q</div>
				<div class="col-sm-2 coluna5">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">Vereadores Integrantes<br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
				<div class="col-sm-2 coluna1">Dr. Wolmir (P)<br/>Cristiano Santos (VP)<br/>Osias Moraes<br/>Colpani<br/>Felipe Braga Côrtes<br/>Julieta Reis<br/>Marcos Vieira<br/>Mauro Bobato<br/>Noemia Rocha</div>
				<div class="col-sm-2 coluna2">Thiago Ferro (P)<br/>Mauro Ignácio (VP)<br/>Osias Moraes<br/>Ezequias Barros<br/>Jairo Marcelino<br/>Profª Josete<br/>Prof. Silberto<br/>Paulo Rink<br/>Sabino Picolo</div>
				<div class="col-sm-2 coluna3">Paulo Rink (P)<br/>Oscalino do Povo (VP)<br/>Profª Josete<br/>Prof. Euler<br/>Tico Kuzma<br/><br/><br/><br/><br/></div>
				<div class="col-sm-2 coluna4">Hélio Wirbiski (P)<br/>Mauro Bobato (VP)<br/>Goura<br/>Bruno Pessuti<br/>Maria Manfron<br/><br/><br/><br/><br/></div>
				<div class="col-sm-2 coluna5">Fabiane Rosa (P)<br/>Kátia Dittrich (VP)<br/>Goura<br/>Colpani<br/>Felipe Braga Côrtes<br/><br/><br/><br/><br/></div>
			</div>

			<div class="row">
				<div class="col-sm-2 coluna">Dia / Comissão</div>
				<div class="col-sm-2 coluna6">DIREITOS HUMANOS</div>
				<div class="col-sm-2 coluna7">EDUCAÇÃO</div>
				<div class="col-sm-2 coluna8">ACESSIBILIDADE</div>
				<div class="col-sm-2 coluna9">SAÚDE</div>
				<div class="col-sm-2 coluna10">PARTICIPAÇÃO LEGISLATIVA</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">SEGUNDA</div>
				<div class="col-sm-2 coluna6">&nbsp;</div>
				<div class="col-sm-2 coluna7">&nbsp;</div>
				<div class="col-sm-2 coluna8">8h30 - Q</div>
				<div class="col-sm-2 coluna9">&nbsp;</div>
				<div class="col-sm-2 coluna10">SD</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">TERÇA</div>
				<div class="col-sm-2 coluna6">8h30 - Q</div>
				<div class="col-sm-2 coluna7">&nbsp;</div>
				<div class="col-sm-2 coluna8">&nbsp;</div>
				<div class="col-sm-2 coluna9">&nbsp;</div>
				<div class="col-sm-2 coluna10">SD</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">QUARTA</div>
				<div class="col-sm-2 coluna6">&nbsp;</div>
				<div class="col-sm-2 coluna7">8h30 - Q</div>
				<div class="col-sm-2 coluna8">&nbsp;</div>
				<div class="col-sm-2 coluna9">Após Sessão Plenária - Q</div>
				<div class="col-sm-2 coluna10">SD</div>
			</div>
			<div class="row">
				<div class="col-sm-2 coluna">Vereadores Integrantes<br/><br/><br/><br/><br/></div>
				<div class="col-sm-2 coluna6">Rogério Campos (P)<br/>Bruno Pessuti (VP)<br/>Beto Moraes<br/>Cristiano Santos<br/>Zezinho Sabará</div>
				<div class="col-sm-2 coluna7">Prof. Euler (P)<br/>Geovane Fernandes (VP)<br/>Maria Manfron<br/>Marcos Vieira<br/>Dr. Wolmir</div>
				<div class="col-sm-2 coluna8">Pier Petruzziello (P)<br/>Oscalino do Povo (VP)<br/>Jairo Marcelino<br/>Tito Zeglin<br/>Dona Lourdes</div>
				<div class="col-sm-2 coluna9">Maria Letícia (P)<br/>Oscalino do Povo (VP)<br/>Thiago Ferro<br/>Noemia Rocha<br/>Jairo Marcelino</div>
				<div class="col-sm-2 coluna10">Prof. Euler (P)<br/>Toninho da Farmácia (VP)<br/>Mestre Pop<br/>Dona Lourdes<br/>Cacá Pereira</div>
			</div>
			<div class="row">
				<div class="col-sm-12 coluna">Obs: P = Presidente; VP = Vice-Presidente; S = Semanal; Q = Quinzenal; SD = Sob Demanda.</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="eventoInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"><span id="evento_evento" name="evento_evento"/></h4>
      </div>
      <div class="modal-body">
        <h5><b>Início</b><br/> <span id="evento_inicio" name="evento_inicio"/></h5>
        <h5><b>Fim</b><br/> <span id="evento_fim" name="evento_fim"/></h5>
        <h5><span id="evento_local" name="evento_local"/></h5>
        <h5><span id="evento_descricao" name="evento_descricao"/></h5>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_javascript %}

	<script type="text/javascript">


		var tableComunicados;

		$(function() {
			

			jQuery('button').click( function(e) {
    			jQuery('.collapse').collapse('hide');
			});

			// page is now ready, initialize the calendar...

			$('#calendar').fullCalendar({
				locale: 'br',
				firstDay: 1,
				themeSystem: 'bootstrap4',
				theme: true,
				timeFormat: 'hh:mm',
				weekends: false,
				columnHeader: true,
				allDayDefault: false,
				header: { 
					left: 'prev,next,today',
					center: 'title',
					right: 'month,basicWeek'
				},
				buttonText: {
					today:    'Hoje',
  					month:    'Mês',
  					week:     'Semana',
  					day:      'Dia',
  					list:     'Lista'
				},
				events: {
					url: '/api/get_calendario_full/',
					error: function() {
          				console.log('ERRO AO ACESSAR API LISTA EVENTOS CALENDÁRIO');
        			}
				},

  				eventClick:  function(event, jsEvent, view) {
  					var inicio = moment(event.start).format("DD/MM/YYYY - HH:mm");
  					var fim;
  					if(event.end == null) {
  						fim = moment(event.start).format("DD/MM/YYYY - HH:mm");
  					}
  					else {
  						fim = moment(event.end).format("DD/MM/YYYY - HH:mm");	
  					}
  					$('#evento_inicio').html(inicio);
  					$('#evento_fim').html(fim);
  					$('#evento_evento').html(event.title);
  					if (event.local != '')
  						$('#evento_local').html("<b>Local</b><br/>" + event.local);
  					$('#evento_descricao').html(event.descricao);
  					$('#eventoInfoModal').modal();
  				},

  				eventRender: function(event, element, view) {
  					element.attr('href', 'javascript:void(0);');

  					var title = element.find( '.fc-title' );
  					var inicio = moment(event.start).startOf('day');
  					var fim = moment(event.end).startOf('day');
  					var diferenca = moment(fim.diff(inicio));
  					if (diferenca == 0 || isNaN(diferenca)) {
  						element.css('background-color', '#eee');
  						element.css('border-color', '#eee');
  						element.css('color', '#668cd9');
  					}
  					else {
  						element.css('border-color', '#668cd9');
  						element.css('background-color', '#668cd9');
  						element.css('color', '#fff');
  					}
  				},
			})

			tableComunicados = $('#tcomunicados').DataTable({
                responsive: true,
                "order": [[ 1, "asc" ]],
                "columns": [
                    { 
                        title: "ID" ,
                        data: 'id'
                    },
                    { 
                        title: "Início",
                        data: 'inicio'
                    },
                    { 
                        title: "Comunicado",
                        data: 'descricao'
                    }

                    
                ],
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [2],
                        "visible": true,
                        "searchable": true
                    },
                ],
                "language": {
                    "info": "Páginas _PAGE_ de _PAGES_",
                    "emptyTable": "Sem dados para mostrar",
                    "decimal": ",",
                    "thousands": ".",
                    "oPaginate": {
                        "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                        "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                        "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                        "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                    }
                },
                "deferRender": true,
                "bPaginate" : true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "ajax": {
                    "url": "/api/get_comunicados/",
                    "dataSrc": "",
                },
                "sDom": '<"top"i>rt<"bottom"lp><"clear">',
            });

		});

	</script>


{% endblock %}