{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Calendário{% endblock %}

{% block content %}

<style type="text/css">

	#espaco-calendario { display: none; }
	#espaco-comunicados { display: none; }
	#espaco-cronograma { display: none; }


	.coluna {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: rgba(86,61,124,.15);
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna1 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #E0BBA9;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna2 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFE699;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna3 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #D2FFC4;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna4 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #C0F7FE;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna5 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFDFFF;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna6 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #CACAFF;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna7 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFAB60;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna8 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #D7ACAC;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna9 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #E6FCFF;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}
	.coluna10 {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #eee;
		background-color: #FFFFC8;
		border: 1px solid #ddd;
		border: 1px solid rgba(86,61,124,.2);
	}

</style>
<div class="row">
	<div class="col-xs-12 coluna"><img src="/static/brasao.png" class="img-responsive" style="height:50px;margin-right:20px;float:left"/><h2 style="margin-top:10px;">Diretoria de Apoio às Comissões</h2></div>
</div>
<br/>
<div id="grupo">
	<button class="btn btn-primary" type="button" id="btn_agenda">
	  Agenda
	</button>

	<button class="btn btn-primary" type="button" id="btn_comunicado">
	  Comunicados Gerais
	</button>

	<button class="btn btn-primary" type="button" id="btn_cronograma">
	  Cronograma das Comissões
	</button>

	<div id="espaco-calendario">
		<br/>
		<div id="calendar" style="background-color:#f3f3f3;padding:30px;"></div>
	</div>

	<div id="espaco-comunicados">
		<h3 align="center">COMUNICADOS GERAIS</h3>
		<table id="tcomunicados" class="table table-striped table-hover table-bordered fonteTable" width="100%" cellspacing="0"></table>
	</div>

	<div id="espaco-cronograma">
		<h3 align="center">CRONOGRAMA REUNIÕES E COMPOSIÇÃO COMISSÕES PERMANENTES 2018</h3>
		<div class="row">
			<div class="col-sm-2 coluna">Dia / Comissão<br/><br/><br/></div>
			<div class="col-sm-2 coluna1">Comissão de Constituição e Justiça<br/><br/><br/></div>
			<div class="col-sm-2 coluna2">Comissão de Economia, Finanças e Fiscalização<br/><br/></div>
			<div class="col-sm-2 coluna3">Comissão de Serviço Público<br/><br/><br/></div>
			<div class="col-sm-2 coluna4">Comissão de Urbanismo, Obras Públicas e TI<br/><br/></div>
			<div class="col-sm-2 coluna5">Comissão de Meio Ambiente, Desenvolvimento Sustentável e Assuntos Metropolitanos</div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">SEGUNDA</div>
			<div class="col-sm-2 coluna1">&nbsp;</div>
			<div class="col-sm-2 coluna2">&nbsp;</div>
			<div class="col-sm-2 coluna3">&nbsp;</div>
			<div class="col-sm-2 coluna4">8h</div>
			<div class="col-sm-2 coluna5">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">TERÇA</div>
			<div class="col-sm-2 coluna1">15h</div>
			<div class="col-sm-2 coluna2">8h</div>
			<div class="col-sm-2 coluna3">8h30</div>
			<div class="col-sm-2 coluna4">&nbsp;</div>
			<div class="col-sm-2 coluna5">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">QUARTA</div>
			<div class="col-sm-2 coluna1">&nbsp;</div>
			<div class="col-sm-2 coluna2">&nbsp;</div>
			<div class="col-sm-2 coluna3">&nbsp;</div>
			<div class="col-sm-2 coluna4">&nbsp;</div>
			<div class="col-sm-2 coluna5">14h</div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">Vereadores Integrantes<br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
			<div class="col-sm-2 coluna1">Julieta Reis (Pres.)<br/>Osias Moraes (Vice-Pres.)<br/>Colpani<br/>Cristiano Santos<br/>Dr. Wolmir<br/>Felipe Braga Côrtes<br/>Jonny Stica<br/>Maria Manfron<br/>Pier Petruzziello</div>
			<div class="col-sm-2 coluna2">Paulo Rink (Pres.)<br/>Serginho do Posto (Vice-Pres.)<br/>Dr. Wolmir<br/>Ezequias Barros<br/>Jairo Marcelino<br/>Maria Letícia Fagundes<br/>Mauro Bobato<br/>Profª Josete<br/>Tito Zeglin</div>
			<div class="col-sm-2 coluna3">Mauro Ignácio (Pres.)<br/>Ezequias Barros (Vice-Pres.)<br/>Cacá Pereira<br/>Jonny Stica<br/>Oscalino do Povo<br/><br/><br/><br/><br/></div>
			<div class="col-sm-2 coluna4">Serginho do Posto (Pres.)<br/>Paulo Rink (Vice-Pres.)<br/>Fabiane Rosa<br/>Píer Petruzziello<br/>Toninho da Farmácia<br/><br/><br/><br/><br/></div>
			<div class="col-sm-2 coluna5">Kátia Dittrich (Pres.)<br/>Fabiane Rosa (Vice-Pres.)<br/>Geovane Fernandes<br/>Marcos Vieira<br/>Mauro Ignácio<br/><br/><br/><br/><br/></div>
		</div>

		<div class="row">
			<div class="col-sm-2 coluna">Dia / Comissão<br/><br/><br/></div>
			<div class="col-sm-2 coluna6">Comissão de Direitos Humanos, Defesa da Cidadania e Segurança Pública</div>
			<div class="col-sm-2 coluna7">Comissão de Educação, Cultura e Turismo<br/><br/></div>
			<div class="col-sm-2 coluna8">Comissão de Acessibilidade e Direitos da Pessoa com Deficiência<br/><br/></div>
			<div class="col-sm-2 coluna9">Comissão de Saúde, Bem-Estar Social e Esporte<br/><br/></div>
			<div class="col-sm-2 coluna10">Comissão de Participação Legislativa<br/><br/><br/></div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">SEGUNDA</div>
			<div class="col-sm-2 coluna6">&nbsp;</div>
			<div class="col-sm-2 coluna7">&nbsp;</div>
			<div class="col-sm-2 coluna8">&nbsp;</div>
			<div class="col-sm-2 coluna9">Após Sessão Plenária</div>
			<div class="col-sm-2 coluna10">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">TERÇA</div>
			<div class="col-sm-2 coluna6">&nbsp;</div>
			<div class="col-sm-2 coluna7">14h</div>
			<div class="col-sm-2 coluna8">&nbsp;</div>
			<div class="col-sm-2 coluna9">&nbsp;</div>
			<div class="col-sm-2 coluna10">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">QUARTA</div>
			<div class="col-sm-2 coluna6">8h30</div>
			<div class="col-sm-2 coluna7">&nbsp;</div>
			<div class="col-sm-2 coluna8">8h30</div>
			<div class="col-sm-2 coluna9">&nbsp;</div>
			<div class="col-sm-2 coluna10">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-sm-2 coluna">Vereadores Integrantes<br/><br/><br/><br/><br/></div>
			<div class="col-sm-2 coluna6">Maria Leticia Fagundes (Pres.)<br/>Herivelto Oliveira (Vice-Pres.)<br/>Beto Moraes<br/>Geovane Fernandes<br/>Zezinho Sabará</div>
			<div class="col-sm-2 coluna7">Marcos Vieira (Pres.)<br/>Prof. Silberto (Vice-Pres.)<br/>Julieta Reis<br/>-vaga<br/>-vaga</div>
			<div class="col-sm-2 coluna8">Pier Petruzziello (Pres.)<br/>Tito Zeglin (Vice-Pres.)<br/>Bruno Pessuti<br/>Rogério Campos<br/>-vaga</div>
			<div class="col-sm-2 coluna9">Dr. Wolmir (Pres.)<br/>Oscalino do Povo (Vice-Pres.)<br/>Ezequias Barros<br/>Noemia Rocha<br/>Tito Zeglin</div>
			<div class="col-sm-2 coluna10">Prof. Euler (Pres.)<br/>Oscalino do Povo (Vice-Pres.)<br/>Dona Lourdes<br/>Mestre Pop<br/>Tico Kuzma</div>
		</div>
		<div class="row">
			<div class="col-sm-12 coluna">Obs: P = Presidente; VP = Vice-Presidente; S = Semanal; Q = Quinzenal; SD = Sob Demanda.</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="eventoInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"><span id="evento_evento" name="evento_evento"/></h4>
      </div>
      <div class="modal-body">
        <h5><b>Início</b><br/> <span id="evento_inicio" name="evento_inicio"/></h5>
        <h5><b>Fim</b><br/> <span id="evento_fim" name="evento_fim"/></h5>
        <h5><span id="evento_local" name="evento_local"/></h5>
        <h5><span id="evento_descricao" name="evento_descricao"/></h5>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_javascript %}

	<script type="text/javascript">

		var tableComunicados;

		$(function() {

			$('#btn_agenda').click( function(e) {
				$('#espaco-calendario').show();
				$("#calendar").fullCalendar('render');
    			$('#espaco-comunicados').hide();
    			$('#espaco-cronograma').hide();
			});
			$('#btn_comunicado').click( function(e) {
    			$('#espaco-calendario').hide();
    			$('#espaco-comunicados').show();
    			$('#espaco-cronograma').hide();
			});
			$('#btn_cronograma').click( function(e) {
    			$('#espaco-calendario').hide();
    			$('#espaco-comunicados').hide();
    			$('#espaco-cronograma').show();
			});

			// page is now ready, initialize the calendar...

			$('#calendar').fullCalendar({
				locale: 'br',
				firstDay: 1,
				themeSystem: 'bootstrap4',
				theme: true,
				timeFormat: 'hh:mm',
				weekends: false,
				columnHeader: true,
				allDayDefault: false,
				aspectRatio: 2.5,
				header: { 
					left: 'prev,next,today',
					center: 'title',
					right: 'month,basicWeek'
				},
				buttonText: {
					today:    'Hoje',
  					month:    'Mês',
  					week:     'Semana',
  					day:      'Dia',
  					list:     'Lista'
				},
				events: {
					url: '/api/get_calendario_full/',
					error: function() {
          				console.log('ERRO AO ACESSAR API LISTA EVENTOS CALENDÁRIO');
        			}
				},

  				eventClick:  function(event, jsEvent, view) {
  					var inicio = moment(event.start).format("DD/MM/YYYY - HH:mm");
  					var fim;
  					if(event.end == null) {
  						fim = moment(event.start).format("DD/MM/YYYY - HH:mm");
  					}
  					else {
  						fim = moment(event.end).format("DD/MM/YYYY - HH:mm");	
  					}
  					$('#evento_inicio').html(inicio);
  					$('#evento_fim').html(fim);
  					$('#evento_evento').html(event.title);
  					if (event.local != '')
  						$('#evento_local').html("<b>Local</b><br/>" + event.local);
  					$('#evento_descricao').html(event.descricao);
  					$('#eventoInfoModal').modal();
  				},

  				eventRender: function(event, element, view) {
  					element.attr('href', 'javascript:void(0);');

  					var title = element.find( '.fc-title' );
  					var inicio = moment(event.start).startOf('day');
  					var fim = moment(event.end).startOf('day');
  					var diferenca = moment(fim.diff(inicio));
  					if (event.allDay) {
  						element.css('border-color', '#668cd9');
  						element.css('background-color', '#668cd9');
  						element.css('color', '#fff');
  					}
  					else if ((diferenca == 0 || isNaN(diferenca))) {
  						element.css('background-color', '#eee');
  						element.css('border-color', '#eee');
  						element.css('color', '#668cd9');
  					}
  					else {
  						element.css('border-color', '#668cd9');
  						element.css('background-color', '#668cd9');
  						element.css('color', '#fff');
  					}
  				},
			})


			tableComunicados = $('#tcomunicados').DataTable({
                responsive: true,
                "order": [[ 1, "asc" ]],
                "columns": [
                    { 
                        title: "ID" ,
                        data: 'id'
                    },
                    { 
                        title: "Início",
                        data: 'inicio'
                    },
                    { 
                        title: "Comunicado",
                        data: 'titulo'
                    },
                    { 
                        title: "",
                        data: 'descricao'
                    }

                    
                ],
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [2],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": [3],
                        "visible": true,
                        "searchable": true
                    },
                ],
                "language": {
                    "info": "Páginas _PAGE_ de _PAGES_",
                    "emptyTable": "Sem dados para mostrar",
                    "decimal": ",",
                    "thousands": ".",
                    "oPaginate": {
                        "sFirst": '<span class="glyphicon glyphicon-fast-backward"></span>',
                        "sLast": '<span class="glyphicon glyphicon-fast-forward"></span>',
                        "sNext": '<span class="glyphicon glyphicon-forward"></span>',
                        "sPrevious": '<span class="glyphicon glyphicon-backward"></span>'
                    }
                },
                "deferRender": true,
                "bPaginate" : true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "ajax": {
                    "url": "/api/get_comunicados/",
                    "dataSrc": "",
                },
                "sDom": '<"top"i>rt<"bottom"lp><"clear">',
            });

            $('#espaco-calendario').show();
		});

	</script>


{% endblock %}