{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Calendário{% endblock %}

{% block content %}

  <br/>
  <!--
  <div class="panel-body">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">{{evento.evento}}</h4>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-heading">{{evento.descricao|safe}}</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Data de Início</h4>
        <p class="list-group-item-heading">{{evento.inicio}}</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Data de Encerramento</h4>
        <p class="list-group-item-heading">{{evento.fim}}</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Local</h4>
        <p class="list-group-item-heading">{{evento.local.local}}</p>
      </a>
    </div>
  </div>
-->
  <div class="row">
    <div class="col-md-12">
      <div class="evento">
        <div class="data">
          <div class="dia">{{evento.inicio|date:'d'}}</div>
          <div class="mes">{{evento.inicio|date:'F'}}</div>
        </div>
        <div class="info">
          <div class="titulo"><i class="fas fa-calendar fa-lg fa-pull-left"></i>&nbsp;{{evento.evento}}</div>
          <div class="inicio"><i class="fas fa-clock fa-lg fa-pull-left"></i>&nbsp;<b>Início :</b> {{evento.inicio}}</div>
          <div class="inicio"><i class="fas fa-clock fa-lg fa-pull-left"></i>&nbsp;<b>Fim :</b> {{evento.fim}}</div>
          <div class="local"><i class="fas fa-map-marker-alt fa-lg"></i>&nbsp;<b>Local :</b> {{evento.local.local}}</div>
        </div>
        <div class="texto">
          <div class="conteudo">{{evento.descricao|safe}}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block extra_javascript %}
{% endblock %}
